   body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:  #FEE7EC;
    /* background-color:  red; */
    ;
   }
   
   
   .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
     gap:10px;
}
img{
width:70px;
height:70px;
background-color:none;
 padding:0px;
}
.bignav{
height:60px;
border:1px solid black;
background-color:pink;
 width: 100%;
 
    overflow: hidden;
}
input{
 
 
 width: 50%;
    padding: 10px 10px 10px 40px; /* left padding for icon */
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

form{
 position: relative;
    width: 300px;
}
.logo{
   display: flex;
    flex-direction: column;
    
   align-items: center;
  justify-content: center;
    
}
.banner {
    width: 100%;
    margin: 20px auto;
    padding-right: 0;
    overflow: hidden;
    border-radius: 15px;
    height: 350px;
   
}

.banner img {
    width: 100%;
    height: 350px;
    /* object-fit: contain; */
    display: block;
    border-radius: 15px;
    transition: opacity 0.5s ease;
    margin-left: 0;
}
 
.fa-search{
position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

#welcome-message {
  
    text-align: center;
    font-size: 2em;
    background-color: pink;
     border-color:black;
     height:50px;
     width: 100%;
     padding-top: 20px;
     color:#fc0384;
       transition: opacity 0.5s  ease;
    
     
      
}

.products-container {
    display: flex;
    flex-wrap: wrap;
     align-items: center;
      justify-content: center;
    gap: 20px;
    padding: 20px;
    /* transform: translateY(-20%); */
        /* background-color: rgb(110, 15, 15); */
    
}
.product-card {
    padding:10px 0 10px 0 ;
    width: 200px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
    padding-bottom: 15px;
    padding-left: 15px;
      
   
     gap:-20px;
    background-color:WHITE;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

 
.product-container-image{
  width:190px;
    height:150px;
    /* display: flex; */
    /* object-fit: cover;  */
    margin:5px;
    justify-content: center;
    align-items: center;
    /* border:solid 1px black; */
    /* border-radius:10px; */
    /* background-color: rgb(216, 219, 12);1` */
}
.product-img{
    width:100%;
    height:100%;
   object-fit: contain;
}

#price{
    font-size: 1.2em;
    color: #333;
    /* margin-top:-10px; */
     /* margin-bottom:5px; */
}
.add-to-cart{
    padding-left:0;
}
.price-rating-container{
     margin-top:-30px;
     /* margin-bottom:5px; */
    /* border:1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
        /* gap:40%; */
        /* margin-top:0px; */
     margin-bottom:-15px;
}
.cart-icon{
    font-size: 1.5em;
}

.welcome-message{

color:#945a78;
padding-left: 20px;
}


/* .footer{
    width: 100%;
     height:300px;
     margin-top: 20px;
     display: flex;
    text-align: center;
    
    background-color: rgb(36, 32, 32);
    color: black;
} */

.footer {
    background-color: black;
    text-align: center;
       /* margin: 0;
    padding: 0; */
      width: 100%;
      color:rgb(211, 189, 189);
      }

.footer-links {
    margin: 15px 0;
   color:rgb(211, 189, 189);
}
 

.footer-links a {
    text-decoration: none;
    color:rgb(224, 165, 165);

    margin: 0 10px;
    font-weight: bold;
}

.footer-links a:hover {
    color: #fc0384;
}

.social-icons {
    margin: 15px 0;
}

.social-icons i {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
    color: #fc0384;
}

.social-icons i:hover {
    color: #d6006e;
}